*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-line, .second-line{
  width: 65%;
  height: 400px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.product{
  width: 31%;
  height: 400px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  object-fit: cover;
}

.product img{
  width: 100%;
  height: 100%;
}


