*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.product{
  width: 33%;
  padding: 0 5px;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  margin-bottom: 20px;
}

.product .image{
  position: relative;
}

.product .image img{
  width: 100%;
}

.product .image .heart{
  position: absolute;
  right: 0px;
  top: 15px;
  padding: 5px 10px;
  font-size: 20px;
  background-color: white;
}

.product .image .discount{
  position: absolute;
  left: 0;
  bottom: 20px;
  color: white;
}

.product .image .discount .percento{
  background-color: red;
  padding: 5px;
}

.product .image .discount .green{
  background-color: green;
  padding: 5px;
}

.product .backround{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

.product:hover .backround{
  display: block;
}

.product .brand{
  font-size: 15px;
  opacity: .7;
}

.product .model{
  font-size: 20px;
}

.product .price{
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.product .price span{
  color: black;
  text-decoration-line: line-through;
  margin-left: 5px;
}


